<form class="navbar-form">
    <div class="form-group">
        <input class="form-control" placeholder="Email" ng-model="username" />
    </div>
    <div class="form-group">
        <input class="form-control" type="password" placeholder="Password" ng-model="password" />
    </div>
    <!--<button href="#/main" class="btn btn-primary" ng-click="signin(username, password)">Sign in</button>-->
     <button href="#/main" class="btn btn-primary" ng-click="go()">Sign in</button>
    <a href="#/dashboard">Dashboard</a>
</form>
